@model IEnumerable<App.Domain.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Our services</h1>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="form-group">
                    <a asp-area="" asp-controller="Appointment" asp-route-id="@item.Id" asp-action="Booking" style="text-decoration: none" type="submit" class="btn btn-primary" >Book time</a>
                </div>
            </td>
            
            
        </tr>
}
    </tbody>
</table>