@model App.Domain.Identity.AppUser

@{
    ViewData["Title"] = "Delete";
}

<a asp-action="index" style="font-size:26px; text-decoration: none;"><i class=" fas fa-arrow-circle-left"></i> &nbspback</a>
    <div class="card shadow mb-4 p-4 body-card">
    <div style="display: flex; align-items: center; flex-direction: column;">
        <div class="delete-confirm-card card p-3 border-0  bg-white3">
            <div class="mb-2" style="display: flex; justify-content: center;">
                <div class="address-card card p-3  bg-white3">
                    <div style="display: flex;">
                        <h1>@Html.DisplayFor(model => model.FirstLastName)</h1>
                    </div>

                    <div>
                        <dl class="row row-bordered row-striped row-hover">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </dd>


                        </dl>
                    </div>
                </div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i>&nbsp; Delete</button>
            </form>
        </div>

    </div>
</div>