@using App.Domain
@model App.Domain.Identity.AppUser

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.FirstLastName) Information</h1>

<div>
    <dl class="row row-bordered row-striped row-hover" >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


    @if (User.IsInRole("user"))
    {
        <table class="table table-ww table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Work Time
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (WorkTime item in @Model!.WorkTimes!.OrderBy(c => c.Date).ThenBy(c => c.StartTime))
            {
                <tr>
                    <td>
                        <a style="text-decoration: none" class="nav-item text-dark">@Html.DisplayFor(modelItem => item.DateTime)</a>
                    </td>
                </tr>
                

            }
            </tbody>
        </table>
    }