@using App.Domain.Identity
@using App.Domain
@model App.Domain.Vacation

@{
    ViewData["Title"] = "Create";
    AppUser appUser = ViewBag.AppUser;
    var vacation = ViewBag!.Vacations;
}

<h1>Manage Vacation for @appUser.FirstLastName</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input type="Date" asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStop" class="control-label"></label>
                <input type="Date" asp-for="DateStop" class="form-control" />
                <span asp-validation-for="DateStop" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AppUserId" value="@appUser.Id" />
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

        <table class="table table-ww table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Date
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (Vacation item in @appUser.Vacations!) {
                <tr>
                    <td>
                        <a asp-action="Edit" style="text-decoration: none" class="nav-item text-dark" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Dates)</a>
                        
                    </td>
                </tr>
                
            }
            </tbody>
        </table>






<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
