@model App.Domain.Vacation

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this vacation for @Model.AppUser!.FirstLastName</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser!.FirstLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStop)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a style="text-decoration: none" asp-action="Index">Back to List</a>
    </form>
</div>
