@model IEnumerable<App.Domain.Service>

@{
    ViewData["Title"] = "Index";
}
 
<div class="card shadow mb-4 p-4" style="height: calc(100vh - 150px); top: 10px">
<h1>Index</h1>

<div class="row">
<div class="text-end">
    <a class="btn btn-primary" asp-action="create"><i class="fas fa-calendar-plus"></i>&nbsp&nbsp Create New</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i>&nbsp&nbspEdit</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-user-times"></i>&nbsp&nbspDelete</a>

            </td>
        </tr>
}
    </tbody>
</table>
</div>
            </div>